In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Movies.csv",encoding='latin-1')

In [3]:
df

                                            Movie Name   Year   Genre
0                                       The Dark Knight  2008  Action
1         The Lord of the Rings: The Return of the King  2003  Action
2     The Lord of the Rings: The Fellowship of the Ring  2001  Action
3                                             Inception  2010  Action
4                 The Lord of the Rings: The Two Towers  2002  Action
...                                                 ...   ...     ...
3532                                   Tristan + Isolde  2006     NaN
3533                                         Green Zone  2010     NaN
3534                                   Under the Shadow  2016     NaN
3535                                  The Hunting Party  2007     NaN
3536                                      Che: Part Two  2008     NaN

[3537 rows x 3 columns]

In [4]:
!pip install requests

Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.27.1)

WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -qdm (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2021.10.8)

In [5]:
import requests

In [11]:
def getID(name):

    # Replace YOUR_API_KEY with your actual TMDb API key
    API_KEY = "55fececf0f0381b18c9350096ffdfad6"

    # The title of the movie you want to search for
    movie_title = name

    # Construct the API endpoint URL for movie search
    search_url = f"https://api.themoviedb.org/3/search/movie?api_key={API_KEY}&query={movie_title}"

    # Make an HTTP GET request to the API endpoint
    response = requests.get(search_url)

    # If the request was successful, parse the JSON response and extract the movie ID
    if response.status_code == 200:
        search_results = response.json()

        if len(search_results['results']) > 0:
            # Retrieve the ID of the first search result (assuming it matches the movie title)
            movie_id = search_results['results'][0]['id']
        else:
            return "Error, no results found"

        return movie_id
    else:
        return "Error"

In [12]:
def getInfo(movie_id):

    # Replace YOUR_API_KEY with your actual TMDb API key
    API_KEY = "55fececf0f0381b18c9350096ffdfad6"

    # The ID of the movie you want to retrieve information for

    # Construct the API endpoint URL
    url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={API_KEY}"

    # Make an HTTP GET request to the API endpoint
    response = requests.get(url)

    # If the request was successful, parse the JSON response and extract the desired information
    if response.status_code == 200:
        movie_data = response.json()
        return movie_data

    else:
        return "Error"

In [14]:
ID = getID(df["Movie Name "][0])
print(ID)
if type(ID) == int:
    getInfo(getID(df["Movie Name "][0])).keys()

155

In [10]:
adult = []
budget = []
genres = []
original_language = []
overview = []
popularity = []
production_companies = []
production_countries = []
release_date = []
revenue = []
runtime = []
spoken_languages = []
tagline = []
vote_average = []
vote_count = []

In [ ]:
for i in range(len(df)):
    # Generate the filename for the JSON file for this row
    ID = getID(df["Movie Name "][i])
    if type(ID) == int:
        file = getInfo(ID).keys()
    else:
        print(df['Movie Name '][i], "no search results found")

Taegukgi hwinalrimyeo no search results found
Karigurashi no Arietty no search results found
Karigurashi no Arietty no search results found
Kal Hee no search results found
Gisaengchung no search results found
Gisaengchung no search results found
Fa Yeung Nin Wah no search results found
Karigurashi no Arietty no search results found
Karigurashi no Arietty no search results found